.home
    height 100vh
    max-width 100%
    background-image url('../img/Home_bg1.jpg')
    background-size cover 
    background-repeat no-repeat
    background-position center center 
    padding 100px 0
    box-sizing border-box
    &__container
        max-width 1200px
        margin 0 auto
        height 100%
        text-align center
        display flex
        justify-content center
        align-items center
        flex-direction column
    &__navigation
        margin 0 auto
        font-size 24px
        font-family 'Outrun'
        list-style none
        display flex
        justify-content center
        max-width 100%
        flex-wrap wrap
    &__navItem
        position relative
    &__lines
        position absolute
        opacity 0
        transition opacity 0.7s ease
        width 79%
        top 17px
        left 17px
        span 
            border 1px solid #6164c7
            display flex
            width 100%
            position absolute
            margin 2px 
        &-left
            left: 1px;
            top: 1px;
        &-right
            right: -20px;
            top: 6px;
        &-leftTwo
            left: -20px;
            top: 13px;
        &-rightTwo
            left: -9px;
            top: 20px;  
    &__link
        position relative
        text-decoration none
        text-transform uppercase
        color #fff
        margin 0 25px
    &__navItem:hover &__lines
        opacity 1
        transition opacity 0.7s ease
    &__header
        background linear-gradient(to bottom, #000, rgba(255, 255, 255, 0.11), #de7006),url('../img/Home_bg_h.jpg')
        background-attachment fixed
        -webkit-text-fill-color transparent
        -webkit-background-clip text
        font-size 170px
        font-weight bold
        font-family 'Outrun'
        text-transform uppercase
        line-height 220px
    &__subheader
        background linear-gradient(to bottom, #000, rgba(255, 255, 255, 0.11), #de7006),url('../img/Home_bg_h.jpg')
        background-attachment fixed
        -webkit-text-fill-color transparent
        -webkit-background-clip text
        font-size 40px
        font-weight bold
        font-family 'Outrun'
        text-transform uppercase
        margin-bottom 90px
    &__button
        height 50px
        width 240px
        color #000000
        text-decoration none
        font-family 'Outrun'
        font-size 18px
        background url('../img/Button.png') 
        background-size cover


        