.about
    min-height 700px
    width 100%
    background  url(../img/about_bg.png) center no-repeat
    background-size cover
    background-attachment fixed
    &__container
        max-width 1600px
        margin 0 auto
        height 100%
        text-align center
        display flex
        justify-content center
        align-items center
        flex-direction row
        flex-wrap wrap-reverse
        padding-bottom 50px
    &__photo
        width auto
        height 700px
        display flex
        justify-content center
        flex-direction column
    &__lowerPhoto
        height auto
        width auto
        max-width 100%
        max-height 100%
    &__description
        width 720px
        height 700px
        color #fff
        display flex
        flex-direction column
        text-align left
        justify-content center
        padding 0 80px
        box-sizing border-box
    &__title
        font-family 'Outrun'
        font-size 24px
        color #515fa2
        font-weight bold
    &__header
        font-family 'Outrun'
        font-size 60px
        margin-bottom 20px
    &__text
        font-family 'Montserrat'
        font-size 14px