@media screen and (max-width 1440px)
    .about__description
        height 400px
    .about__photo
        height 800px
@media screen and (max-width 991px)
    .home__header
        font-size 150px
    .home__subheader
        font-size 30px 768
@media screen and (max-width 767px)
    .home
        padding 50px 0
    .home__navigation
        display none
    .home__hidden
        display block
    .home__header
        font-size 88px
        line-height 160px
    .home__subheader
        font-size 25px 
    .about__lowerPhoto
        left 0
        top 0
    .about__upperPhoto
        top 20vh
    .about__header
        line-height 60px
    .joinUs__header
        line-height 120px
    .joinUs__button
        margin-top 60px
@media screen and (max-width 425px)
    .home
        padding 30px 0
    .home__header
        font-size 65px
    .home__subheader
        font-size 16px 
    .about__description
        padding 0px 40px
        height 360px
    .about__photo
        height 440px